.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
}

.sidebar {
    background-color: cornflowerblue;
    grid-row: 1 /3;
    display: grid;
    grid-template-columns: auto;
}

.header {
    background-color: antiquewhite;
}

.header-top {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.header-down {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
}


.content {
    background-color: cadetblue;
}